Garden ignores the `proxy-url` directive in `~/.kube/config`

## Bug
### Current Behavior
Garden ignores the `proxy-url` directive in `~/.kube/config`

E.g.:

```
% garden dev
Dev ⌨️
Good morning! Let's get your environment wired up...

━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
🌍  Running in namespace ge-steffen in environment dev
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

   ℹ Visit project at https://xxx.garden.io/projects/3
✔ providers                 → Getting status... → Cached
   ℹ Run with --force-refresh to force a refresh of provider statuses.
✔ graph                     → Resolving 33 modules... → Done

🌻  Garden dashboard running at http://localhost:9777?key=xxx

connect ECONNREFUSED x.x.x.x:443

See .garden/error.log for detailed error message
```

While kubectl works with the same context:

```
% kubectl get ns
NAME                                        STATUS   AGE
[...]
```

### Expected behavior
Garden should succeed connecting to the cluster via the `proxy-url` defined in the selected context configuration in `~/.kube/config`.

### Reproducible example
1. Create a `squid.conf` with the following content (the nameserver directive is important for successfully reproducing this)

```
acl localnet src 0.0.0.1-0.255.255.255	# RFC 1122 "this" network (LAN)
acl localnet src 10.0.0.0/8		# RFC 1918 local private network (LAN)
acl localnet src 100.64.0.0/10		# RFC 6598 shared address space (CGN)
acl localnet src 169.254.0.0/16 	# RFC 3927 link-local (directly plugged) machines
acl localnet src 172.16.0.0/12		# RFC 1918 local private network (LAN)
acl localnet src 192.168.0.0/16		# RFC 1918 local private network (LAN)
acl localnet src fc00::/7       	# RFC 4193 local private network range
acl localnet src fe80::/10      	# RFC 4291 link-local (directly plugged) machines
acl SSL_ports port 443
acl Safe_ports port 80		# http
acl Safe_ports port 21		# ftp
acl Safe_ports port 443		# https
acl Safe_ports port 70		# gopher
acl Safe_ports port 210		# wais
acl Safe_ports port 1025-65535	# unregistered ports
acl Safe_ports port 280		# http-mgmt
acl Safe_ports port 488		# gss-http
acl Safe_ports port 591		# filemaker
acl Safe_ports port 777		# multiling http
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
include /etc/squid/conf.d/*.conf
# do not expose this squid on the internet....
http_access allow localhost
http_access deny all
http_port 3128
coredump_dir /var/spool/squid
refresh_pattern ^ftp:		1440	20%	10080
refresh_pattern ^gopher:	1440	0%	1440
refresh_pattern -i (/cgi-bin/|\?) 0	0%	0
refresh_pattern \/(Packages|Sources)(|\.bz2|\.gz|\.xz)$ 0 0% 0 refresh-ims
refresh_pattern \/Release(|\.gpg)$ 0 0% 0 refresh-ims
refresh_pattern \/InRelease$ 0 0% 0 refresh-ims
refresh_pattern \/(Translation-.*)(|\.bz2|\.gz|\.xz)$ 0 0% 0 refresh-ims
refresh_pattern .		0	20%	4320
dns_nameservers 1.1.1.1 1.0.0.1
```

1. Start a squid proxy on localhost:

```
docker run -d -v $PWD/squid.conf:/etc/squid/squid.conf --name squid-container -e TZ=UTC -p 3128:3128 ubuntu/squid:5.2-22.04_beta
```

1. Change the cluster configuration in `.kube/config` 

```
[...]
  - cluster:
       certificate-authority-data: xxxxxx====
       server: https://xxx.region.eks.amazonaws.com
+      proxy-url: http://localhost:3128
     name: arn:aws:eks:region:xxx:cluster/xxx
[...]
```

1. To make sure that garden can't connect without the proxy, add the following line to /etc/hosts on your laptop:

```
127.0.0.1 xxx.region.eks.amazonaws.com
```

### Workaround
It's possible to work around setting the `HTTP_PROXY` variable as described in https://docs.garden.io/guides/installation#using-garden-with-proxies

But this is rather inconvenient

### Suggested solution(s)
I don't know. We might need to parse the kube config – or are we doing that already?

### Additional context
<!-- Add any other context about the problem here.  -->

### Your environment
<!-- PLEASE FILL THIS OUT -->

* **OS:** macOS
* **How I'm running Kubernetes:** EKS

`garden version`
0.12.47-edge-2f499107e



Since i'm sure the docsite updates frequently, looks like the link above broke. For others trying to find it, this is a working link as of Feb 15, 2023. https://docs.garden.io/guides/installation#using-garden-with-proxies

Thank you, I've updated the link in the issue description

@stefreak is this fixed? Please reopen if that's not the case.